@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSans', sans-serif;
    scroll-behavior: smooth;
}

#logo {
    width: 200px;
    padding-bottom: 4px;
}

li {
    font-weight: 500;
    font-size: 16px;
    color: #0077b6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 80px;    
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 20px;
    font-weight: 600;
    
}

.navbar li a {
    transform: all 0.5s ease 0s;
    text-decoration: none;
    color:#0077b6;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: #fca311;
}

.showcase-area {
    background-image: url(img/showcase.jpeg);
    background-size: cover;
    width: 100%;
    height: 1000px; 
}

.showcase-container {
    margin: 0 150px;
    padding: 300px 0;
    color: #fca311;
    font-size: 35px;
    background-color: #0076b667;
}