#logo {
    width: max(100px, 18vw);
    background-color:antiquewhite;
    aspect-ratio: auto;
    padding: 0.4rem;
}

header {
    width: 100%;
    height: auto;
    background-color: beige;
    display: flex;
}

nav > ul {
    justify-content: space-evenly;
    display: flex;
}

nav > ul > li {
    margin: 0.2rem;
    padding: 0.2rem;
    display: block;
}

.showcase-area {
    background-color: beige;
    height: 650px;
}

#online {
    width: 90%;
}

#about {
    background-color: blanchedalmond;
    height: 650px;
}

#price {
    background-color: antiquewhite;
    height: 650px;
}

#contact {
    background-color:aqua;
    height: 650px;
}